{% extends "base.html"%}
{% block body %}

Your score is {{score}}.<br>

Please give your feedback...<br>
<form method="get" action="/feedback_handler/" enctype="text/plain">
    <ol>
	<li>
	    <P>Does the educational software motivate you to be involved in computer programming?<BR>
		<input type="radio" name="9" value="1">1<BR>
		<input type="radio" name="9" value="2">2<BR>
		<input type="radio" name="9" value="3">3<BR>
		<input type="radio" name="9" value="4">4<BR>
		<input type="radio" name="9" value="5">5<BR>
	    </p>
	</li>
	<li>
	    <P>Does the educational software help you understanding better the logic of programming?<BR>
		<input type="radio" name="10" value="1">1<BR>
		<input type="radio" name="10" value="2">2<BR>
		<input type="radio" name="10" value="3">3<BR>
		<input type="radio" name="10" value="4">4<BR>
		<input type="radio" name="10" value="5">5<BR>
	    </p>
	</li>
	<li>
	    <P>Does the educational software help you to learn other programming languages?<BR>
		<input type="radio" name="11" value="1">1<BR>
		<input type="radio" name="11" value="2">2<BR>
		<input type="radio" name="11" value="3">3<BR>
		<input type="radio" name="11" value="4">4<BR>
		<input type="radio" name="11" value="5">5<BR>
	    </p>
	</li>
	<li>
	    <P>Does the educational software help you in your studies?<BR>
		<input type="radio" name="12" value="1">1<BR>
		<input type="radio" name="12" value="2">2<BR>
		<input type="radio" name="12" value="3">3<BR>
		<input type="radio" name="12" value="4">4<BR>
		<input type="radio" name="12" value="5">5<BR>
	    </p>
	</li>

    </ol>
<input type="submit" value="Submit">
<input type="reset" value="Clear Choices">
</form>

{% endblock %}
