<!DOCTYPE html>
<html>
<body style="background-color:white;">

<h1><center><font color="blue">Welcome to my evaluation model</font></center> </h1>


<p><br><br><br><br><br>
<center><font color="red"><a href="http://127.0.0.1:8000/FeedbackEvaluation/">Evaluation techniques used</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="http://127.0.0.1:8000/FeedbackEvaluation/">    Evaluate a student model</a>&nbsp; &nbsp; &nbsp; &nbsp; <a href="http://127.0.0.1:8000/MaterialEvaluation/">Evaluate the study material</a> &nbsp; &nbsp; <a href="http://127.0.0.1:8000/EvaluationParameters/">Evaluation parameters</a></font> </center> </p>
</body> 
</html> 
