{% extends "base.html"%}
{% block body %}

Your score is {{score}}.<br>

Please give your feedback...<br>
<form method="get" action="/feedback_handler/" enctype="text/plain">
    <ol>
	<li>
	    <P>Do you think that your returns to a previous chapter in order to revise it are a waste of time? <BR>
		<input type="radio" name="13" value="1">1<BR>
		<input type="radio" name="13" value="2">2<BR>
		<input type="radio" name="13" value="3">3<BR>
		<input type="radio" name="13" value="4">4<BR>
		<input type="radio" name="13" value="5">5<BR>
	    </p>
	</li>
	<li>
	    <P>Do the returns to a previous chapter correspond to your need for revision?<BR>
		<input type="radio" name="14" value="1">1<BR>
		<input type="radio" name="14" value="2">2<BR>
		<input type="radio" name="14" value="3">3<BR>
		<input type="radio" name="14" value="4">4<BR>
		<input type="radio" name="14" value="5">5<BR>
	    </p>
	</li>
	<li>
	    <P>Does your return to a previous level, that happened each time the system discovered that you made errors of previous chapters,help you learning programming?<BR>
		<input type="radio" name="15" value="1">1<BR>
		<input type="radio" name="15" value="2">2<BR>
		<input type="radio" name="15" value="3">3<BR>
		<input type="radio" name="15" value="4">4<BR>
		<input type="radio" name="15" value="5">5<BR>
	    </p>
	</li>
	

    </ol>
<input type="submit" value="Submit">
<input type="reset" value="Clear Choices">
</form>

{% endblock %}
