.mybody {
    background:#3c3c3c;
    color: whitesmoke;
}

.heading_main{
    
    font-family:serif, cursive;
    color: orangered;
    height:90px;
    font-size: 60px;
    text-align: center;
    color: white;
    alignment-adjust: central;
    text-shadow: 0px 0px 4px white, 0px -1px 5px yellow, 0px -3px 4px #ff8000, 0px -3px 5px red;
}

.main_body_content{
    padding-left: 10px;
    padding-right: 10px;
}
.top_menu{
    width:100%;
    background-color:black;
    color:chartreuse;
    height:55px;
    font-size:30px;
    text-align:center;
    padding-top: 16px;
}

.top_menu a{
    color: chartreuse;
}

.link{
    height:100%;
    display:inline;
    border-left:solid burlywood 3px;
    border-right: solid burlywood 3px;
    padding-right: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}

.link:hover{
    padding-left: 20px;
    padding-right: 20px;
    color: gold;
    background:#656565;
}

.welcome{
    color:deeppink;
    font-size: 30px;
}
.concept_section_heading{
    font-size: 25px;
}
.concept_content_ol li a{
    color:aquamarine;
    text-decoration: none;
}
.concept_content_ol li a:visited{
    color:aquamarine;
    text-decoration: none;
}

.concept_content_ol li a:hover{
    text-decoration: underline;
}

.concept_content_ol{
    font-size: 15px;
}
.concept_content_ol li {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 15px;
}
.rating_quiz {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    display: inline;
    font-size: 3em;
}
.rating_quiz > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating_quiz > span:hover,
.rating_quiz > span:hover ~ span {
    color: transparent;
}   
.rating_quiz > span:hover:before,
.rating_quiz > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}

.performance_drop_li{
    color: navy;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.performance_drop_li:hover{
    background:gainsboro;
    color:deepskyblue;
    padding-right: 20px;
    font-size: 18px;
    cursor: pointer;
}