{% extends "base_staff.html"%}
{% block body %}

<p> Check the concept to delete it : </p><br><br>
    <form method="get" action="/concept_deletion_handler/" enctype="text/plain"> 
	<table style="width:auto" border="1"> 
		<tr>
			<td>Check to delete</td>			
			<td>Concept</td>
		</tr>  
    {% for concept in concept_list %}
        <tr>
			<td><input type="checkbox" name={{concept.id}} value=question></td>
			<td>{{concept.name}}</td> 
		</tr>
    {% endfor %}
	<br>
    
	</table>
	<br>
	<input type="submit" value="Submit">
    </form>


{% endblock %}

