{% extends "base_staff.html"%}
{% block body %}
        <div class="masthead">
            <h3 class="welcome">Welcome {{staff_name}}</h3>
            <ul class="nav nav-justified">
                <li><a href="/staff_menu/">Home</a></li>
                <li><a href="/EvaluationWelcome/">Model Evaluation</a></li>
                <li><a href="/logout/">Log Out</a></li>
            </ul>
        </div>
        <br><br>
<p> Check the course to delete it : </p><br><br>
    <form method="get" action="/concept_deletion_handler/" enctype="text/plain">    
    {% for course in course_list %}
        <input type="radio" name={{course.id}} value=course><a href = "">{{concept.name}}</a><br><br>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
{% endblock %}
