{% extends "base_staff.html"%}
{% block body %}
<h1><center><font color="blue">Welcome to my evaluation model</font></center> </h1>
<br><br><br><br><br>

    <div id ="evaluation" class="top_menu">
        <div class="link" id="evaluation_tech">
            <a href = "/FeedbackEvaluation/" style="padding-left:10px">Evaluation techniques used</a>
        </div>
        
        <div class="link" id="evaluation_tech">
            <a href = "/FeedbackEvaluation/" style="padding-left:10px">Evaluate a student model</a>
        </div>

        <div class="link" id="evaluation_material">
            <a href = "/MaterialEvaluation/" style="padding-left:10px">Evaluate the study material</a>
        </div>
        
        <div class="link" id="evaluation_material">
            <a href = "/EvaluationParameters/" style="padding-left:10px">Evaluation parameters</a>
        </div>
    </div>
{% endblock %}